@model PMS.Entities.Models.User
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kayıt Ol</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new {@class="text-danger"})

        <label class="control-label col-md-2">Adı</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new {htmlAttibutes = new {@class = "form-control"} })
                @Html.ValidationMessageFor(model => model.FirstName, "", new {@Class = "text-danger"})
            </div>
        </div>

        <label class="control-label col-md-2">Soy adı</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new {htmlAttibutes = new {@class = "form-control"} })
                @Html.ValidationMessageFor(model => model.LastName, "", new {@Class = "text-danger"})
            </div>
        </div>

        <label class="control-label col-md-2">Telefon</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new {htmlAttibutes = new {@class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Phone, "", new {@Class = "text-danger"})
            </div>
        </div>

        <label class="control-label col-md-2">Email</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttibutes = new {@class = "form-control", @type="email"} })
                @Html.ValidationMessageFor(model => model.Email, "", new {@Class = "text-danger"})
            </div>
        </div>

        <label class="control-label col-md-2">Şifre</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttibutes = new {@class = "form-control", @type="password"} })
                @Html.ValidationMessageFor(model => model.Password, "", new {@Class = "text-danger"})
            </div>
        </div>

        <label class="control-label col-md-2">Rol</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Role, new { htmlAttibutes = new {@class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Role, "", new {@Class = "text-danger"})
            </div>
        </div>

        <br />
        <input type="submit" value="Kayıt Ol" class="btn btn-primary" />
    </div>
}